{% extends 'frame/nonavbase.html' %}

{% block title %}Inaenergy{% endblock %}
{% block content %}

    <section id="title">
        <div class="container my-3">
            <div class="row">
                <div class="col">
                    <h1 class="mt-5">{{ comp.cmpname }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section id="comp_add_form">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="my-3">基本資料</h3>
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th scope="row" width="100px">統一編號</th>
                                <td>{{ comp.cmpsn }}</td>
                            </tr>
                            <tr>
                                <th scope="row">負責人</th>
                                <td><a href="{% url 'Contact_Detail' comp.cmpsponsor.id %}">{{ comp.cmpsponsor }}</a></td>
                            </tr>
                            <tr>
                                <th scope="row">電話</th>
                                <td>{{ comp.cmptel }}</td>
                            </tr>
                            <tr>
                                <th scope="row">傳真</th>
                                <td>{{ comp.cmpfax }}</td>
                            </tr>
                            <tr>
                                <th scope="row">地址</th>
                                <td>{{ comp.cmpaddr }}</td>
                            </tr>
                            <tr>
                                <th scope="row">備註</th>
                                <td>{{ comp.remark }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}