{% extends 'frame/base.html' %}

{% block title %}使用者資訊 - Inaenergy{% endblock %}
{% block content %}
  <section id="banner">
    <div class="container">
      <h1 class="mt-5">更改使用者密碼 - {{ user.get_username }}</h1>
    </div>
  </section>
  <section id="content">
    <div class="container">
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-row my-3">
          <div class="col-6">
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-danger {% if message.tags %}{{ message.tags }}{% endif %}">
                <strong>{{ message }}</strong>
              </div>
              {% endfor %}
            {% endif %}
            {{ form.non_field_errors }}
          </div>
        </div>
        {{ form.errors }}
        <div class="form-row my-3">
          <div class="col-4">
            <label for="id_{{ form.old_password.name }}">舊密碼：</label>
            {{ form.old_password }}
            {% for error in form.old_password.errors %}
              {{ error|escape }}
            {% empty %}
            {% endfor %}
            {{ form.old_password.errors }}
          </div>
        </div>
        <div class="form-row my-3">
          <div class="col-4">
            <label for="id_{{ form.new_password1.name }}">新密碼：</label>
            {{ form.new_password1 }}
            {{ form.new_password1.errors }}
          </div>
        </div>
        <div class="form-row my-3">
          <div class="col-4">
            <label for="id_{{ form.old_password.name }}">確認密碼：</label>
            {{ form.new_password2 }}
            {{ form.new_password2.errors }}
          </div>
        </div>
        <button class="btn btn-primary" type="submit">儲存</button>
      </form>
    </div>
  </section>
{% endblock %}