{% extends 'frame/base.html' %}

{% block title %}使用者資訊 - Inaenergy{% endblock %}
{% block content %}
  <section id="banner">
    <div class="container">
      <h1 class="mt-5">使用者資訊 - {{ user.get_username }}</h1>
    </div>
  </section>
  <section id="content">
    <div class="container">
      <div class="row my-3">
        <div class="col">
          <a role="button" class="btn btn-primary" href="{% url 'User_update' %}">修改個人資訊</a>
          <a role="button" class="btn btn-primary" href="{% url 'User_chgpwd' %}">變更密碼</a>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-1"><p class="font-weight-bold text-right">姓名：</p></div>
        <div class="col"><p>{{ user.last_name }} {{ user.first_name }}</p></div>
      </div>
      <div class="row my-3">
        <div class="col-1"><p class="font-weight-bold text-right">部門：</p></div>
        <div class="col"><p>{{ user.employee.department.dname }}</p></div>
      </div>
      <div class="row my-3">
        <div class="col-1"><p class="font-weight-bold text-right">電話：</p></div>
        <div class="col"><p>{{ user.employee.tel }} - {{ user.employee.ext }}</p></div>
      </div>
      <div class="row my-3">
        <div class="col-1"><p class="font-weight-bold text-right">E-mail：</p></div>
        <div class="col"><p>{{ user.email }}</p></div>
      </div>

    </div>
  </section>
{% endblock %}