{% extends 'frame/base.html' %}

{% block title %}Inaenergy{% endblock %}
{% block content %}

    <section id="title">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="mt-5">{{ proj.sn }}-{{ proj.name }}</h1>
                    <p class="text-right">上次更新: {{ proj.updatetime }}, 更新人：{{ proj.editor.get_full_name }}</p>
                </div>
            </div>

        </div>
    </section>
    <section id="detail">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>專案資料</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h5 class="font-weight-bold">編號：</h5>
                </div>
                <div class="col-2"><P>{{ proj.sn }}</P></div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h5 class="font-weight-bold">地點：</h5>
                </div>
                <div class="col-2"><p>{{ proj.loc_county }}-{{ proj.loc_area }}</p></div>
                <div class="col-2">
                    <h5 class="font-weight-bold">地段地號：</h5>
                </div>
                <div class="col-2">
                    <p> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h5 class="font-weight-bold">負責人：</h5>
                </div>
                <div class="col-2">
                    <p>{{ proj.sponsor.get_full_name }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h5 class="font-weight-bold">開始時間：</h5>
                </div>
                <div class="col-2">
                    <p>{{ proj.starttime }}</p>
                </div>
                <div class="col-2">
                    <h5 class="font-weight-bold">預計結束時間：</h5>
                </div>
                <div class="col-2">
                    <p>{{ proj.endtime }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                  <h5 class="font-weight-bold">備註：</h5>
                </div>
                <div class="col">
                  <p>{{ proj.remark }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a role="button" href="{% url 'Proj_Update' proj.id %}" class="btn btn-secondary my-3">編輯專案內容</a>
                </div>
            </div>
        </div>
    </section>
    <section id="cate_list">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>工程分類項目</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive-sm">
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th scope="col">編號</th>
                                    <th scope="col">名稱</th>
                                    <th scope="col">負責人</th>
                                    <th scope="col">開始時間</th>
                                    <th scope="col">預計結束時間</th>
                                    <th scope="col">狀態</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cate in cate_list %}
                                <tr>
                                    <td>{{ cate.name.sn }}</td>
                                    <td><a href="{% url 'Cate_Detail' cate.id %}">{{ cate.name.name }}</a></td>
                                    <td>{{ cate.sponsor.get_full_name }}</td>
                                    <td>{{ cate.starttime }}</td>
                                    <td>{{ cate.endtime }}</td>
                                    <td></td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="6" class="text-center">目前尚無資料。</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <a role="button" class="btn btn-primary" href="{% url 'Cate_Add' proj.id %}">新增</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}