{% extends 'frame/base.html' %}

{% block title %}Inaenergy{% endblock %}

{% block content %}

    <section id="title">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="mt-5">新增廠商聯絡人</h1>
                </div>
            </div>
        </div>
    </section>
    <section id="detail">
        <div class="container">
          <form class="needs-validation" action="" method="POST" novalidate>
            {% csrf_token %}
            <div class="form-row mb-3">
              <div class="col-md-6 my-1">
                <label for="id_{{ form.name.name }}">姓名：</label>
                {{ form.name }}
              </div>
              <div class="col-md-6 my-1">
                <label for="id_{{ form.comp.name }}">公司：</label>
                {{ form.comp }}
                <p><a href="" onclick="openwindow('{% url 'Comp_Add_Jump' %}')">新增公司</a></p>
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-md-6 my-1">
                <label for="id_{{ form.telprim.name }}">電話(主要)：</label>
                {{ form.telprim }}
              </div>
              <div class="col-md-6 my-1">
                <label for="id_{{ form.telscnd.name }}">電話(次要)：</label>
                {{ form.telscnd }}
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-md-6 my-1">
                <label for="id_{{ form.email.name }}">E-mail：</label>
                {{ form.email }}
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-md-12 my-1">
                <label for="id_{{ form.remark.name }}">備註：</label>
                {{ form.remark }}
              </div>
            </div>
            <input type="hidden" name="editor" id="id_editor" value="{{ user.id }}">
            <div class="form-row mb-3">
              <div class="col-md-12 my-1">
                <input class="btn btn-outline-primary" type="reset" value="清除輸入">
                <button class="btn btn-primary" type="submit">儲存</button>
              </div>
            </div>
          </form>
        </div>
    </section>
    <script>
        function openwindow (url) {
          window.open(url,'','width=560, height=500, location=no, left=100, top=100');
        }
    </script>
{% endblock %}