{% extends 'frame/base.html' %}

{% block title %}Inaenergy{% endblock %}
{% block content %}

    <section id="title">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="mt-5">新增工作安排</h1>
                </div>
            </div>
        </div>
    </section>
    <section id="detail">
        <div class="container">
          <form class="needs-validation" action="" method="POST" novalidate>
            {% csrf_token %}
            <div class="form-row mb-3">
              <div class="col-md-12 my-1">
                <label for="id_project">所屬專案：</label>
                <h3>{{ cate.proj }}</h3>
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-md-12 my-1">
                <label for="id_category">工程分類：</label>
                <h3>{{ cate }}</h3>
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-md-6 my-1">
                <label for="id_{{ form.subcate.name }}">類別：</label>
                {{ form.subcate }}
              </div>
              <div class="col-md-6 my-1">
                <label for="id_{{ form.timing.name }}">檢查時機：</label>
                {{ form.timing }}
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-md-12 my-1">
                <label for="id_{{ form.name.name }}">表單名稱：</label>
                {{ form.name }}
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-md-12 my-1">
                <label for="id_{{ form.contractor.name }}">承包商：</label>
                {{ form.contractor }}
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-md-12 my-1">
                <label for="id_{{ form.sponsor.name }}">負責人：</label>
                {{ form.sponsor }}
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-md-6 my-3">
                <label for="id_{{ form.starttime.name }}">開始時間：</label>
                {{ form.starttime }}
              </div>
              <div class="col-md-6 my-3">
                <label for="id_{{ form.endtime.name }}">預計結束時間：</label>
                {{ form.endtime }}
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-md-12 my-3">
                <label for="id_{{ form.remark.name }}">備註：</label>
                {{ form.remark }}
              </div>
            </div>
            <input type="hidden" name="cate" id="id_cate" value="{{ cate.id }}">
            <input type="hidden" name="editor" id="id_editor" value="{{ user.id }}">
            <div class="form-row mb-3">
              <div class="col-lg-12">
                <input class="btn btn-outline-primary" type="reset" value="清除輸入">
                <button class="btn btn-primary" type="submit">儲存</button>
              </div>
            </div>
          </form>
        </div>
    </section>
{% endblock %}